@model List<Book>

<div class="product-slider multiple-row  slider-border-multiple-row  sb-slick-slider"
     data-slick-setting='{
                            "autoplay": true,
                            "autoplaySpeed": 8000,
                            "slidesToShow": 5,
                            "rows":1,
                            "dots":true
                        }' data-slick-responsive='[
                            {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                            {"breakpoint":768, "settings": {"slidesToShow": 2} },
                            {"breakpoint":480, "settings": {"slidesToShow": 1} },
                            {"breakpoint":320, "settings": {"slidesToShow": 1} }
                        ]'>

    @foreach (var book in Model)
    {
        <div class="single-slide">
            <div class="product-card">
                <div class="product-header">
                    <a href="#" class="author">
                        @book.Author.FullName
                    </a>
                    <h3>
                        <a href="product-details.html">
                            @book.Name
                        </a>
                    </h3>
                </div>
                <div class="product-card--body">
                    <div class="card-image">
                        <img src="~/assets/image/products/@book.BookImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" alt="">
                        <div class="hover-contents">
                            <a href="product-details.html" class="hover-image">
                                <img src="~/assets/image/products/@book.BookImages.FirstOrDefault(x=>x.PosterStatus==false)?.Image" alt="">
                            </a>
                            <div class="hover-btns">
                                <a asp-action="addbasket" asp-controller="book" asp-route-id="@book.Id" data-id="@book.Id" class="single-btn">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                                <a href="wishlist.html" class="single-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <a href="compare.html" class="single-btn">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a href="#"
                                   class="single-btn show-product-modal" data-id="@book.Id">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price-block">
                        @if (book.DiscountPrice > 0)
                        {
                            <span class="price">£@(book.SalePrice-book.DiscountPrice)</span>
                            <del class="price-old">£@(book.SalePrice)</del>
                            <span class="price-discount">@book.DiscountPrice</span>
                        }
                        else
                        {
                            <span class="price">£@book.SalePrice</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

</div>
